.app-header {
    background-color: $clr1;
    color: $clr2;
    padding: 1em;
    display: grid;
    grid-template-columns: 200px 1fr;
    // grid-template-rows: 1fr 1fr;
    grid-template-areas:
        'logo nav-bar '
    ;

    .nav-bar {
        grid-area: nav-bar;
        font-size: 2em;
        // justify-self: center;
        align-self: center;
    }

    .logo {
        grid-area: logo;
        font-size: 2em;
    }

    a {
        color: $clr2;

        &.active {
            color: $clr7;
        }

    }

}