.chat-room {
    border: black solid 1px;
    min-height: 300px;
    max-width: 277px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    bottom: 1em;
    right: 1em;
    background-color: #fff;
    overflow-x: hidden;

    .chat-main {
        max-width: 277px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 3;
        flex-wrap: wrap;
    }

    .chat-form {
        background: $clr1;
        padding: 0.25rem;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        height: 3rem;
        box-sizing: border-box;
        backdrop-filter: blur(10px);
        align-self: flex-end;
        justify-self: flex-end;

        button {
            background: #333;
            border: none;
            padding: 0 1rem;
            margin: 0.25rem;
            border-radius: 3px;
            outline: none;
            color: #fff;

        }

    }

    input {
        border: none;
        padding: 0 1rem;
        flex-grow: 1;
        border-radius: 2rem;
        margin: 0.25rem;

    }

    input:focus {
        outline: none;
    }

    .close-chat {
        width: 25px;
        cursor: pointer;
    }


}