.toy-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;

    h3 {
        font-size: 1.2em;
    }

    h1 {
        font-size: 1.5em;
        text-decoration: underline;
    }

    img {
        max-width: 200px;
        height: 200px;
        margin-bottom: 20px;
    }
}